- f.inputs do
  = f.input :name
  = f.input :serial
  = f.input :disk_type, :as => :select, :label => "Disk Type", :collection => StorageShelf::DISK_TYPE_OPTIONS, :allow_blank => true
  = f.input :disk_count, :label => "Disk Count"
  = link_to_remove_fields "remove", f
