- semantic_form_for @network do |f|
  = f.error_messages
  - f.inputs do
    = f.input :farm
    = f.input :network
    = f.input :subnetbits, :label => 'Subnet Bits'
    = f.input :gateway
    = f.input :vlan, :label => 'VLAN ID'
    = f.input :description
    = f.input :notes
  = f.buttons