- title "Edit User"

- stylesheet('jquery.comboselect', :media => 'screen', :cache => false)
- javascript('jquery.comboselect', 'jquery.selso')
  
= render :partial => 'form'

- if @user.api_is_enabled?
  %p
    Your API Key: (
    = link_to "re-generate", api_key_path, :method => :post
    |
    = link_to "disable", api_key_path, :method => :delete
  %p
    %strong
      = @user.api_key
- else
  %p
    You'll need a unique key to make calls to the API.  Remember to keep this key a secret as it can be used to access your account.
  %p
    = link_to("Get a key", api_key_path, :method => :post)

%p
  = link_to "Show", user_path(@user)
  = "| #{link_to "View All", users_path}" if can? :read, User
