- semantic_form_for @app do |f|
  = f.error_messages
  - f.inputs do
    = f.input :name
    = f.input :description
    = f.input :project
    = f.input :clusters
    = f.input :contacts
  = f.buttons
