- semantic_form_for @interface do |f|
  = f.error_messages
  - f.inputs do
    = f.input :name
    = f.input :description
    = f.input :state
    = f.input :asset
    -# = f.input :ip
    = f.input :speed
    = f.input :mac
    -# = f.input :connector
  = f.buttons
